<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>記事詳細</title>

</head>

<body>

    <header>
        <nav>
            <a th:href="@{/}">ホーム</a>
            <a th:href="@{/search}">検索</a>
            <a class="plus-button" th:href="@{/post/new}">＋</a>
        </nav>
    </header>

    <div class="detail-container">
        <img th:if="${post.imagePath != null}" th:src="@{${post.imagePath}}" class="post-image">

        <h1 th:text="${post.title}">My Birthday Blog🍰</h1>
        <p class="content" th:text="${post.content}"></p>

    </div>

</body>

</html>