<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/layout :: head('メニュー')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>ホーム</title>
</head>

<body>

    <header>
        <nav>
            <a th:href="@{/}">ホーム</a>
            <a th:href="@{/search}">検索</a>
            <a class="plus-button" th:href="@{/post/new}">＋</a>
        </nav>
    </header>

    <h2>投稿一覧</h2>

    <div>
        <h3>タイトル</h3>
        <p>本文の一部...</p>
    </div>

    <div>
        <h3>タイトル</h3>
        <p>本文の一部...</p>
    </div>

</body>

</html>